/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    --blue: rgb(0,108,250);
    --green: rgb(0,225,101);
    --white: rgb(255, 255, 255);
}

[class*="col-"] {
    min-height: 50px;
    background-color: var(--blue);
    border: 1px solid var(--white);
    
}

/* HEADER */

.col-2, .col-6, .col-8 {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--white);
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    border: 1px solid var(--blue);
    background-color: var(--green);
}