/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    --blue: rgb(0,108,250);
}

[class*="col"] {
    height: 50px;
    background-color: var(--blue);
    border: 1px solid rgb(255, 255, 255);
    overflow-y: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
}

/* HEADER */

header {
    margin-bottom: 1rem;
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,225,101);
    color: rgb(255, 255, 255);
}

/* MAIN */

main {
    margin-bottom: 1rem;
}


/* FOOTER */

footer {
    margin-bottom: 1rem;
}